body {
  margin: 2em;
  font-family: Roboto;
  background: rgb(111, 41, 173);
  background: -moz-radial-gradient(circle, rgba(111, 41, 173, 1) 30%, rgba(63, 94, 251, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(111, 41, 173, 1) 30%, rgba(63, 94, 251, 1) 100%);
  background: radial-gradient(circle, rgba(111, 41, 173, 1) 30%, rgba(63, 94, 251, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6f29ad", endColorstr="#3f5efb", GradientType=1);
}

h1 {
  font-size: 24px;
  color: white;
}

p {
  font-size: 20px;
  color: #ddd;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
