html {
  min-height: 100%;
}

body {
  margin: 1vw;
  font-family: Montserrat;
  background: #FEFEFE;
  min-height: 100%;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 30vh);
}

.azuraPlayer {
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 2em;
  color: #181818;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  color: #ddd;
}

img {
  width: 250px;
}

#bottom-player {
  background: #181818;
  display: flex;
  align-content: center;
  bottom: 0vw;
  height: 10vh;
  position: fixed;
  width: 100%;
}
#bottom-player audio{
  margin: auto 0;
  width: 100%;
}
