body {
  background-color: #6f29ad;
  margin: 2em;
  font-family: Roboto;
}

h1 {
  font-size: 24px;
  color: white;
}

p {
  font-size: 20px;
  color: #ddd;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
